header {
  background: black;
  color: white;
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  cursor: pointer;
}